/* slider section */
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

@media(max-width: 720px) {
    .carousel-caption h1 {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 8px;
    }
}

/* register section */
.bg-hight {
    height: 300px;
}

.top-margin {
    margin-top: 130px;
}

.top-p {
    padding-top: 100px;
}

.bg-color {
    background-color: #289BDE;
}