/* slider section */
.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* register section */
.bg-hight {
    height: 300px;
}

.top-margin {
    margin-top: 130px;
}